<body>
  <div class="container">

    <div class="change-password-page">
      <h1>Change Password</h1>
      <p>Enter your new password.</p>
      {{#if error}}
        <div class="error-message">{{error}}</div>
      {{/if}}
      <form action="/changePassword" method="post">
        <input type="hidden" name="token" value="{{token}}" />
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required />
        <button class="button" type="submit">Change Password</button>
      </form>
      {{#if success}}
        <div class="success-message">Password changed successfully.</div>
      {{/if}}
    </div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/productyesfitness.appspot.com/o/password.png?alt=media&token=5373bb60-9707-473b-920c-c4aeaf276646"
      alt="Change Password"
    />
  </div>

  <script src="/js/changePassword.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>