<body>
  <div class="box">
    <p>User ID: {{user._id}}</p>
    <h1>Upload Your Documents</h1>
    <form id="uploadForm" enctype="multipart/form-data">
      <input type="hidden" id="userId" value="{{user._id}}" />

      <label for="idDocument">ID Document:</label>
      <input type="file" id="idDocument" class="docs" name="idDocument" /><br
      /><br />

      <label for="addressDocument">Address Document:</label>
      <input
        type="file"
        id="addressDocument"
        class="docs"
        name="addressDocument"
      /><br /><br />

      <label for="statementDocument">Bank Statement:</label>
      <input
        type="file"
        id="statementDocument"
        class="docs"
        name="statementDocument"
      /><br /><br />

      <button class="button" type="submit">Upload Documents</button>
      <!-- Changed <a> to <button> -->
    </form>
    <a href="/user">Return to user account</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/uploader.js"></script>
</body>