<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/{{style}}" />
  </head>
  <body>
    <h1>Email send</h1>
    <p>An email with a link to reset your password has been sent to your email
      address. Please check your inbox and follow the instructions.</p>
    <a href="/login">Return to Login</a>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/productyesfitness.appspot.com/o/verifyemail.png?alt=media&token=e0215bab-0da3-400d-b947-4787770f4811"
      alt="emailSend"
    />
  </body>
</html>