<body>
  <div class="recovery-page">
    <h1>Password Recovery</h1>
    <p>Enter your email address to recover your password.</p>
      <form method="post" action="/recover">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required />
  <button class="button" type="submit">Recover Password</button>
</form>

</body>

 <script src="/js/recover.js"></script>