<body>
  <div class="container">
    <h1><span class="red">Switch</span><span class="black">Role</span></h1>
    <p>Premium users are allowed to post classes and become premium users;
      however, they will not be allowed to become teachers.</p>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/productyesfitness.appspot.com/o/role.png?alt=media&token=038469cf-326c-4a6c-9f50-e68102ed35d1"
      alt="role"
    />
    <form id="role-switch-form">
      <label for="role">Select new role:</label>
      <select id="role" name="role" data-user-id="{{user._id}}">
        {{#each role}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>

      <button class="button" type="submit">Update Role</button>
    </form><button
      id="document-upload-button"
      class="button"
      style="display: none;"
    >Upload Documents</button>
    <a href="/user">Return to user account</a>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/switchRole.js"></script>
</body>