<body>
    <div class="container">
      <h1>Ticket Details</h1>
      <p>Code: {{code}}</p>
      <p>Purchase Date: {{purchaseDateTime}}</p>
      <p>Amount: {{amount}}</p>
      <p>Purchaser: {{purchaser}}</p>
    </div>
  </body>
</html>