<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/{{style}}" />
  </head>
  <body>
    <h1>Unauthorized Access</h1>
    <p>You do not have permission to view this page.</p>
    <a href="/user">Go back to user Account</a>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/productyesfitness.appspot.com/o/404teachers.png?alt=media&token=3c1beecf-170a-4d35-b8ca-e18b25bf33e5"
      alt="unauthorized"
    />
  </body>
</html>